[submodule "third-party/cnpy"]
	path = third-party/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "Pointnet_Pointnet2_pytorch"]
	path = Pointnet_Pointnet2_pytorch
	url = git@github.com:leonzug/Pointnet_Pointnet2_pytorch.git
